# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Swaped files
*.swo
*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.la
*.a
*.lib

# Executables
*.exe
*.out

build/
virtel
virtel_tests
